bin
vendor

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.vscode
.DS_Store
glide.lock

# Dev folders
cmd/jtree-metadata-server/conf
cmd/jtree-metadata-server/debug
cmd/jtree-metadata-server/json
cmd/jtree-metadata-server/log

# Don't need to include log files
log/*.log
*.DS_Store

