bin
vendor

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.vscode
.DS_Store
glide.lock




# Don't need to include log files
log/*.log
# Don't need to include uploaded files
uploads/*
*.DS_Store
# Files from the server
mysql-community-release-el7-5.noarch.rpm
tcpping


